<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<li><%= devise_error_messages! %></li>
<li><%= f.label :email %><%= f.text_field :email %></li>
<li><%= f.submit "Send me reset password instructions" %></li>
<% end %>
<%= render :partial => "devise/shared/links" %>